{% extends "proshop/base.html" %}

{% block title %} Sign up {% endblock%}
{% block content %}

<div style="margin: auto; width: 50%; height: 70%">
  <form
    class="boder boder-light p-5"
    method="POST"
    action="{% url 'signup' %}"
  >
    {% csrf_token %}
    <div class="h4 mb-4 text-center">Sign up</div>

    {% if error_message %}
    <p class="text-danger p-d ml-b">{{ error_message}}</p>
    {% endif %}

    <label>Username</label>
    <div class="mb-4">{{form.username}}</div>

    <label>FullName</label>
    <div class="mb-4">{{form.name}}</div>

    <label>Password</label>
    <div class="mb-4">{{form.password}}</div>

    <label>Password Repeat</label>
    <div class="mb-4">{{form.password_repeat}}</div>

    <button class="btn btn-primary my-4 btn-block" type="submit">
      Sign up
    </button>
  </form>
</div>

{% endblock %}
